* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 50%;
  scroll-behavior: smooth;

  @include respond(lg) {
    // width > 992
    font-size: 56.25%;
  }

  @include respond(xl) {
    // width > 1200
    font-size: 62.5%;
  }

  @include respond(xxl) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: $default-font-size;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $color-tertiary-light;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $color-tertiary-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
  }
}

::selection {
  color: $color-secondary;
}

.row {
  margin: 0 auto;
  max-width: 90%;
  @include respond(md) {
    max-width: 80%;
  }
}
