// FONT
$default-font-size: 1.6rem;

// COLORS
$color-primary: #e3e6ed;
$color-primary-dark: #cad1e0;

$color-secondary: #42424f;
$color-secondary-light: #625f73;
$color-secondary-dark: #2e2e2e;

$color-tertiary: #f7b500;

$color-btn-primary: #0091ff;
$color-btn-secondary: #81a7c4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #272727;
$color-white: #fff;
$color-black: #000;
