// FONT
$default-font-size: 1.6rem;

// COLORS
$color-primary: #252422;
$color-primary-light: #403d39;

$color-secondary: #eb5e28;

$color-tertiary-light: #fffcf2;
$color-tertiary-dark: #ccc5b9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #272727;
$color-white: #fff;
$color-black: #000;
