.header {
  background-color: $color-primary;
  padding: 15rem 0 10rem;
  @include respond(xl) {
    padding: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    @include respond(xl) {
      flex-direction: row;
      min-height: 100vh;
    }
  }

  &__title {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
    @include respond(xl) {
      margin-bottom: 0;
    }
    & h1 {
      margin-bottom: 4rem;
    }
    & .paragraph {
      margin-bottom: 4rem;
      width: 80%;
    }
  }
  &__img {
    text-align: center;
    flex-basis: 100%;
    & img {
      max-width: 70%;
      height: auto;
      border-radius: 10px;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.185);
      @include respond(xl) {
        max-width: 100%;
      }
      @include respond(xxl) {
        max-width: 600px;
      }
    }
  }
}
